In [4]:
#Start out with clearning dataet

#Show the dataframe

#Start with major percentages based on fraud/no fraud

#dive into card usage

#cond prob

#distance

#cross analysis

#For each section, flip back and forth with the tableau dashboard

In [5]:
#import atatements
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
#initially visualizing the dataset
df = pd.read_csv("card_transdata.csv")
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [8]:
#Cleaning out th rows containing NA/unwanted data entries
df = df.dropna(how='any')
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [9]:
df = df[((df['used_chip'] == 1)&(df['used_pin_number'] == 0)) | ((df['used_chip'] == 0)&(df['used_pin_number'] == 1))]
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
7,4.848247,0.320735,1.273050,1.0,0.0,1.0,0.0,0.0
10,14.263530,0.158758,1.136102,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999990,20.334489,11.437333,0.699527,1.0,1.0,0.0,1.0,0.0
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [10]:
len(df[(df['used_pin_number'] == 0) & (df['used_chip'] == 0)].index)

0

In [11]:
df_fraud = df[df['fraud'] == 1]
usedchip_fraudper = len(df_fraud[df_fraud['used_chip'] == 1].index)/len(df_fraud.index)
usedchip_fraudper * 100

98.83520847121112

In [12]:
usedpin_fraudper = len(df_fraud[df_fraud['used_pin_number'] == 1].index)/len(df_fraud.index)
usedpin_fraudper * 100

1.1647915287888815

In [13]:
other_fraudper = len(df_fraud[(df_fraud['used_pin_number'] == 0) & (df_fraud['used_chip'] == 0)].index)/len(df_fraud.index)
other_fraudper

0.0

Distance analysis for Distance From Home Column

In [15]:
mean_DFH = df['distance_from_home'].mean()
print(mean_DFH)
df['is_fraud_and_far'] = (df['distance_from_home'] > mean_DFH) & (df['fraud'] == 1)

26.53265352269457

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_2856\783691872.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_fraud_and_far'] = (df['distance_from_home'] > mean_DFH) & (df['fraud'] == 1)

In [17]:
percent_fraud_far = (df['is_fraud_and_far'].sum()/df.shape[0]) * 100
print(percent_fraud_far)
percent_fraud_close = ((len(df) - df['is_fraud_and_far'].sum())/df.shape[0]) * 100
print(percent_fraud_close)

1.5928023292141529
98.40719767078585

In [16]:
df_DFH = pd.DataFrame()
df_DFH['lt 10'] = ((df['distance_from_home'] <= 10) & df['fraud']).value_counts()
df_DFH['10 to 20'] = ((10 < df['distance_from_home']) & (df['distance_from_home'] <= 20) & df['fraud']).value_counts()
df_DFH['20 to 30'] = ((20 < df['distance_from_home']) & (df['distance_from_home'] <= 30) & df['fraud']).value_counts()
df_DFH['30 to 40'] = ((30 < df['distance_from_home']) & (df['distance_from_home'] <= 40) & df['fraud']).value_counts()
df_DFH['40 to 50'] = ((40 < df['distance_from_home']) & (df['distance_from_home'] <= 50) & df['fraud']).value_counts()
df_DFH['50 to 60'] = ((50 < df['distance_from_home']) & (df['distance_from_home'] <= 60) & df['fraud']).value_counts()
df_DFH['60 to 70'] = ((60 < df['distance_from_home']) & (df['distance_from_home'] <= 70) & df['fraud']).value_counts()
df_DFH['70 to 80'] = ((70 < df['distance_from_home']) & (df['distance_from_home'] <= 80) & df['fraud']).value_counts()
df_DFH['80 to 90'] = ((80 < df['distance_from_home']) & (df['distance_from_home'] <= 90) & df['fraud']).value_counts()
df_DFH['90 to 100'] = ((90 < df['distance_from_home']) & (df['distance_from_home'] <= 100) & df['fraud']).value_counts()
df_DFH['gt 100'] = ((df['distance_from_home'] > 100) & df['fraud']).value_counts()
df_DFH

,lt 10,10 to 20,20 to 30,30 to 40,40 to 50,50 to 60,60 to 70,70 to 80,80 to 90,90 to 100,gt 100
False,369640,376951,378965,379709,380163,380392,380496,380608,380694,380718,378910
True,11261,3950,1936,1192,738,509,405,293,207,183,1991

In [ ]:
df_dc_LT.to_csv("DFH_intervals.csv")

Distance analysis for Distance From Last Transaction Column

In [18]:
mean_DFLT = df['distance_from_last_transaction'].mean()
print(mean_DFLT)
df['is_fraud_and_far_LT'] = (df['distance_from_last_transaction'] > mean_DFLT) & (df['fraud'] == 1)
df['is_fraud_and_far_LT'].value_counts()

5.075260209322651

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_2856\1267177122.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_fraud_and_far_LT'] = (df['distance_from_last_transaction'] > mean_DFLT) & (df['fraud'] == 1)

is_fraud_and_far_LT
False    376014
True       4887
Name: count, dtype: int64

In [20]:
percent_fraud_far_LT = (df['is_fraud_and_far_LT'].sum()/df.shape[0]) * 100
print(percent_fraud_far_LT)
percent_fraud_close_LT = ((len(df) - df['is_fraud_and_far_LT'].sum())/df.shape[0]) * 100
print(percent_fraud_close_LT)

1.2830105460473982
98.71698945395259

In [19]:
df_DFLT = pd.DataFrame()
df_DFLT['lt 10'] = ((df['distance_from_last_transaction'] <= 10) & df['fraud']).value_counts()
df_DFLT['10 to 20'] = ((10 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 20) & df['fraud']).value_counts()
df_DFLT['20 to 30'] = ((20 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 30) & df['fraud']).value_counts()
df_DFLT['30 to 40'] = ((30 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 40) & df['fraud']).value_counts()
df_DFLT['40 to 50'] = ((40 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 50) & df['fraud']).value_counts()
df_DFLT['50 to 60'] = ((50 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 60) & df['fraud']).value_counts()
df_DFLT['60 to 70'] = ((60 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 70) & df['fraud']).value_counts()
df_DFLT['70 to 80'] = ((70 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 80) & df['fraud']).value_counts()
df_DFLT['80 to 90'] = ((80 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 90) & df['fraud']).value_counts()
df_DFLT['90 to 100'] = ((90 < df['distance_from_last_transaction']) & (df['distance_from_last_transaction'] <= 100) & df['fraud']).value_counts()
df_DFLT['gt 100'] = ((df['distance_from_last_transaction'] > 100) & df['fraud']).value_counts()
df_DFLT

,lt 10,10 to 20,20 to 30,30 to 40,40 to 50,50 to 60,60 to 70,70 to 80,80 to 90,90 to 100,gt 100
False,361307,379673,380472,380695,380792,380663,380736,380776,380810,380843,380479
True,19594,1228,429,206,109,238,165,125,91,58,422

In [ ]:
df_dc_LT.to_csv("DFLT_intervals.csv")