In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('card_transdata.csv')

In [3]:
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [4]:
df_fil = df.dropna(how='any')

In [5]:
print(df_fil)

        distance_from_home  distance_from_last_transaction
0                57.877857                        0.311140  \
1                10.829943                        0.175592
2                 5.091079                        0.805153
3                 2.247564                        5.600044
4                44.190936                        0.566486
...                    ...                             ...
999995            2.207101                        0.112651
999996           19.872726                        2.683904
999997            2.914857                        1.472687
999998            4.258729                        0.242023
999999           58.108125                        0.318110

        ratio_to_median_purchase_price  repeat_retailer  used_chip
0                             1.945940              1.0        1.0  \
1                             1.294219              1.0        0.0
2                             0.427715              1.0        0.0
3                             0.362663              1.0        1.0
4                             2.222767              1.0        1.0
...                                ...              ...        ...
999995                        1.626798              1.0        1.0
999996                        2.778303              1.0        1.0
999997                        0.218075              1.0        1.0
999998                        0.475822              1.0        0.0
999999                        0.386920              1.0        1.0

        used_pin_number  online_order  fraud
0                   0.0           0.0    0.0
1                   0.0           0.0    0.0
2                   0.0           1.0    0.0
3                   0.0           1.0    0.0
4                   0.0           1.0    0.0
...                 ...           ...    ...
999995              0.0           0.0    0.0
999996              0.0           0.0    0.0
999997              0.0           1.0    0.0
999998              0.0           1.0    0.0
999999              0.0           1.0    0.0

[1000000 rows x 8 columns]

In [6]:
print("This is the number of original rows before cleaning out NaN values", df.shape[0])

This is the number of original rows before cleaning out NaN values 1000000

In [7]:
print("This is the number of original rows before cleaning out NaN values", df_fil.shape[0])

This is the number of original rows before cleaning out NaN values 1000000

In [8]:
pref_cols = ['distance_from_last_transaction','used_chip','fraud']

In [9]:
df_col_fil = df_fil[pref_cols]

In [10]:
df

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [11]:
df_col_fil

        distance_from_last_transaction  used_chip  fraud
0                             0.311140        1.0    0.0
1                             0.175592        0.0    0.0
2                             0.805153        0.0    0.0
3                             5.600044        1.0    0.0
4                             0.566486        1.0    0.0
...                                ...        ...    ...
999995                        0.112651        1.0    0.0
999996                        2.683904        1.0    0.0
999997                        1.472687        1.0    0.0
999998                        0.242023        0.0    0.0
999999                        0.318110        1.0    0.0

[1000000 rows x 3 columns]

In [12]:
df_pin = df[df['used_chip'] == 0]

In [13]:
df_pin

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
5,5.586408,13.261073,0.064768,1.0,0.0,0.0,0.0,0.0
6,3.724019,0.956838,0.278465,1.0,0.0,0.0,1.0,0.0
7,4.848247,0.320735,1.273050,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
999991,26.807213,0.102574,2.746114,1.0,0.0,0.0,1.0,0.0
999992,9.844674,0.250108,0.814046,1.0,0.0,0.0,1.0,0.0
999993,4.846253,2.844450,0.867740,1.0,0.0,0.0,1.0,0.0
999994,3.295884,0.085712,0.831991,1.0,0.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0

In [15]:
df_chip = df[df['used_chip'] == 1]

In [16]:
df_chip

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0
10,14.263530,0.158758,1.136102,1.0,1.0,0.0,1.0,0.0
11,13.592368,0.240540,1.370330,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999990,20.334489,11.437333,0.699527,1.0,1.0,0.0,1.0,0.0
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [17]:
DFH_pin = df_pin['distance_from_home'].mean()

In [18]:
DFLT_pin = df_pin['distance_from_last_transaction'].mean()

In [20]:
OO_pin = df_pin[df_pin['online_order']==1].shape[0]
total_rows = df_pin.shape[0]

In [21]:
OO_pin_per = (OO_pin / total_rows) * 100

In [22]:
fraud_pin = df_pin[df_pin['fraud']==1].shape[0]

In [23]:
fraud_pin_per = (fraud_pin/total_rows) * 100

In [24]:
DFH_chip = df_chip['distance_from_home'].mean()

In [25]:
DFLT_chip = df_chip['distance_from_last_transaction'].mean()

In [26]:
OO_chip = df_chip[df_chip['online_order']==1].shape[0]
total_rows_chip = df_chip.shape[0]

In [27]:
OO_chip_per = (OO_chip / total_rows_chip) * 100

In [28]:
fraud_chip = df_chip[df_chip['fraud']==1].shape[0]
fraud_chip_per = (fraud_chip/total_rows_chip) * 100

In [29]:
final_df_data = [[DFH_pin,DFH_chip],[DFLT_pin,DFLT_chip],[OO_pin_per,OO_chip_per],[fraud_pin_per,fraud_chip_per]]

In [30]:
columns = ["Used Pin", "Used Chip"]
rows = ["DFH", "DFLT", "OO", "Fraud"]

In [31]:
final_df = pd.DataFrame(final_df_data,columns=columns,index=rows)

In [32]:
final_df

        Used Pin  Used Chip
DFH    26.662269  26.566729
DFLT    4.997518   5.108824
OO     65.062862  65.040996
Fraud  10.005065   6.395566

In [33]:
final_df.to_csv('initial_datastory.csv',index=False)